[submodule "minmea"]
	path = minmea
	url = https://github.com/kosma/minmea
[submodule "easywsclient"]
	path = easywsclient
	url = https://github.com/dhbaird/easywsclient
[submodule "MotionSensorExample"]
	path = MotionSensorExample
	url = https://github.com/rpicopter/MotionSensorExample
